<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>查看</title>
    <link rel="stylesheet" href="../css/layui.css"  th:href="@{/css/layui.css}"/>
    <script type="text/javascript" src="../js/layui.js" th:src="@{/js/layui.js}"></script>
    <link href="/bootstrap/css/bootstrap.min.css" th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <style>
        ul{
            list-style: none;
        }
    </style>
</head>
<body style="background-color:#eff3f6;">
<div th:replace="top::html"></div>
<div class="span12" style="padding-top:80px;">
    <!--<span align="center" style="font-size: 24px;color: #999; letter-spacing: 2px;display: block">已发布比赛</span>-->
    <p align="right" style="margin-right: 15px">
        <a  th:href="'/match/edit'" style="display: inline-block;"><button type="button"  class="btn btn-default btn-primary">发布比赛</button></a>
    </p>
</div>
<div class="container-fluid" >
    <div class="row-fluid">
        <div class="span12">
                <div class="thumbnail" th:if="${isnull} eq 1">
                    <div class="caption">
                        <h3 style="color: tomato">暂无您发布的比赛信息</h3>
                    </div>
                </div>
                <div >
                    <table align="center" class="table">
                        <thead>
                            <tr style="height: 40px;background-color: #e3e8ee;">
                                <th style="width: 30%;text-align: center">比赛名名称</th>
                                <th style="width:15%;text-align:center">开始报名时间</th>
                                <th style="width:15%;text-align:center">截止报名时间</th>
                                <th style="width:15%;text-align:center">正式结束时间</th>
                                <th style="width:15%;text-align:center">操作</th>
                                <th style="width:15%;text-align:center">操作</th>
                            </tr>
                        </thead>
                        <tbody th:each="matchs : ${matchsPage.content}">
                            <tr style="background-color: #fff;border: 10px solid #eff3f6;height: 80px">
                                <td style="line-height: 56px;text-align: center" th:text="${matchs.name}"></td>
                                <td style=" line-height: 56px;text-align: center"  th:text="${#dates.format(matchs.startTime, 'yyyy-MM-dd HH:mm:ss')}" ></td>
                                <td style=" line-height: 56px;text-align: center" th:text="${#dates.format(matchs.lastsigntime, 'yyyy-MM-dd HH:mm:ss')}" ></td>
                                <td style="line-height: 56px;text-align: center" th:text="${#dates.format(matchs.overTime, 'yyyy-MM-dd HH:mm:ss')}"></td>
                                 <td style="line-height: 56px;text-align: center;">
                                    <a  th:href="'/match/edit/'+ ${matchs.id}"><button type="button" class="layui-btn">编辑</button></a>
                                </td>
                                <td style="line-height: 56px;text-align: center;">
                                    <a class="layui-btn layui-btn-danger"  href="#">结束比赛</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!--<ul class="thumbnails" th:each="matchs : ${matchsPage.content}">-->
                <!--<li class="span4">-->
                    <!--<div class="thumbnail">-->
                        <!--<div class="caption">-->
                            <!--<h3 th:text="${matchs.name}" style="color:steelblue"></h3>-->
                            <!--<p th:text="'比赛开始报名时间为:'+${#dates.format(matchs.startTime, 'yyyy-MM-dd HH:mm:ss')}"></p>-->
                            <!--<p th:text="'比赛截止报名时间为:'+${#dates.format(matchs.lastsigntime, 'yyyy-MM-dd HH:mm:ss')}"></p>-->
                            <!--<p th:text="'比赛正式结束时间为:'+${#dates.format(matchs.overTime, 'yyyy-MM-dd HH:mm:ss')}"></p>-->
                            <!--<p style="text-align: right">-->
                                <!--<a  th:href="'/match/edit/'+ ${matchs.id}"><button type="button" class="btn btn-default btn-warning">编辑</button></a>-->
                                <!--<a class="btn btn-info"  href="#">功能开发中</a>-->
                            <!--</p>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</li>-->
            <!--</ul>-->
        </div>
    </div>
</div>
<div class="col-md-12 column" th:if="${isnull} ne 1" style="margin-top:0">
    <ul class="pagination pull-right" style="height: 10px">
        <li class="disabled" ><a style="background-color: #b2b2b2;color: white" th:text="${page}+'/'+${matchsPage.getTotalPages()}+' 页'"></a></li>
        <li class="disabled" th:if="${page} eq '1'" ><a >首页</a></li>
        <li th:if="${page} ne '1'"><a th:href="'/match/teacherList?page=1'+'&&size='+${size}">首页</a></li>
        <li class="disabled" th:if="${page} le '1'"><a >上一页</a></li>
        <li th:if="${page} gt '1'"><a th:href="'/match/teacherList?page='+${page-1}+'&&size='+${size}">上一页</a></li>
        <li th:each="pageNo : ${#numbers.sequence(1, matchsPage.getTotalPages())}">
        <a th:if="${pageNo} eq ${page}" style="background-color: #b2b2b2;color: white" th:text="${pageNo}"></a>
        <a th:if="${pageNo} ne ${page} and ${pageNo} le ${page+2} and ${pageNo} ge ${page-2}" th:href="'/match/teacherList?page='+${pageNo}+'&&size='+${size}" th:text="${pageNo}"></a>
        </li>
        <li th:if="${page} lt ${matchsPage.getTotalPages()}"><a th:href="'/match/teacherList?page='+${page+1}+'&&size='+${size}">下一页</a></li>
        <li class="disabled" th:if="${page} ge ${matchsPage.getTotalPages()}"><a >下一页</a></li>
        <li class="disabled" th:if="${page} eq ${matchsPage.getTotalPages()}"><a >尾页</a></li>
        <li th:if="${page} ne ${matchsPage.getTotalPages()}"><a th:href="'/match/teacherList?page='+${matchsPage.getTotalPages()}+'&&size='+${size}">尾页</a></li>
    </ul>
</div>
</body>
</html>