<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="Bookmark" href="favicon.ico" >
    <link rel="Shortcut Icon" href="favicon.ico" />
    <link rel="stylesheet" type="text/css" href="../../../../../static/h-ui/css/H-ui.min.css" th:href="@{/h-ui/css/H-ui.min.css}"/>
    <link rel="stylesheet" type="text/css" href="../../../../../static/h-ui.admin/css/H-ui.admin.css" th:href="@{/h-ui.admin/css/H-ui.admin.css}"/>
    <link rel="stylesheet" type="text/css" href="../../../../../static/lib/Hui-iconfont/1.0.8/iconfont.css" th:href="@{/lib/Hui-iconfont/1.0.8/iconfont.css}"/>
    <link rel="stylesheet" type="text/css" href="../../../../../static/h-ui.admin/skin/default/skin.css" id="skin" th:href="@{/h-ui.admin/skin/default/skin.css}"/>
    <link rel="stylesheet" type="text/css" href="../../../../../static/h-ui.admin/css/style.css" th:href="@{/h-ui.admin/css/style.css}"/>
    <script th:src="@{/js/jquery-1.11.0.min.js}"></script>
    <script th:src="@{/js/StudentValidate.js}"></script>
    <link rel="stylesheet" href="../css/layui.css" th:href="@{/css/layui.css}" />
    <script type="text/javascript" src="../js/layui.js" th:src="@{/js/layui.js}"></script>
    <title>后台管理-学生认证</title>
</head>
<body>
<div th:replace="admins/nav::html"></div>
<section class="Hui-article-box">
    <nav class="breadcrumb"><i class="Hui-iconfont"></i> <a href="./index.html" class="maincolor">用户认证</a>
        <span class="c-999 en">&gt;</span>
        <span class="c-666">学生认证</span>
    </nav>
    <article class="cl pd-20">
        <!--学生信息展示-->
        <div id="content">

        </div>
        <!--分页-->
        <div id="demo2"></div>

    </article>
</section>

</body>
</html>