<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../css/layui.css"  th:href="@{/css/layui.css}"/>
    <script type="text/javascript" src="../js/layui.js" th:src="@{/js/layui.js}"></script>
    <link rel="stylesheet" href="../css/personalInfor.css" th:href="@{/css/personalInfor.css}">
    <script src="../../static/js/jquery-3.3.1.min.js" th:src="@{/js/jquery-3.3.1.min.js}"></script>

</head>

<body style="overflow-y: hidden">
<div th:replace="top::html" ></div>
<div class="infoContainer" style="margin-top:90px;>
    <h3 class="title">企业资料</h3>
    <div class="stu-info" >
        <div class="avatorWrapper" style="width: 100%">
            <img src="./image/avator.png" th:src = "${company.avatar}" class="avator">
            <p class="Name" th:text="${company.companyName}"  style="display: inline-block;margin-left:20px;">公司名</p>
        </div>
    </div>
    <div class="infoWrapper" style="margin-left:100px;">
        <form action="" method="" class="layui-form">
            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label" style="width: 120px;">社会代码</label>
                <div class="layui-input-block">
                    <input type="text"  class="layui-input Code" th:value="${company.number}" disabled></input>
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label" style="width: 120px;">法定代表人</label>
                <div class="layui-input-block">
                    <input type="text" disabeld class="layui-input Legal" th:value="${company.boss}" disabled>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label" style="width: 120px;">公司类型</label>
                <div class="layui-input-block">
                    <input type="text"  th:value="${company.type}" class="layui-input type" disabled>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label" style="width: 120px;">姓名</label>
                <div class="layui-input-block">
                    <input type="text" th:value="${company.name}"  class="layui-input realName" disabled>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label" style="width: 120px;">联系人</label>
                <div class="layui-input-block">
                    <input type="text" th:value="${company.contacts}"  class="layui-input Contacts">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label" style="width: 120px;">手机号</label>
                <div class="layui-input-block">
                    <input type="text" th:value="${company.phone}" class="layui-input phone">
                </div>
            </div>
           <!-- <div class="layui-form-item">
                <label class="layui-form-label">密码</label>
                <div class="layui-input-block">
                    <input type="password" class="layui-input password" disabled>
                </div>
            </div>-->
            <div class="editBtn">
                <button type="button" class="layui-btn Btn">修改资料</button>
            </div>
        </form>
    </div>
</div>
<script>
    // layui组件初始化
    layui.use(['form'], function(){
        var form = layui.form,
            layer = layui.layer
    });

    $(function(){
        // //获取企业数据
        // fetchData();

        $(".Btn").click(function() {
            //检查数据是否为空
            var Contacts = $(".Contacts").val();
            var phone = $(".phone").val();
            var params = {
                contacts : $(".Contacts").val(),
                phone:  $(".phone").val()
            };
            //手机号格式
            var partten = /^1[34578]\d{9}$/;
            if(Contacts == "") {
                alert("联系人不能为空")
                return
            }else if (!partten.test(phone)) {
                alert("手机号格式错误")
                return
            }else if (phone == "") {
                alert("手机号不能为空")
                return
            }
            else {
                $.ajax({
                    url: "/user/companyUpdateMsg",
                    method: "post",
                    data: params,
                    success: function(data) {
                        if (data.code == 1) {
                            alert("修改成功");
                        } else {
                            alert("修改失败");
                        }
                    },
                    error: function() {
                        alert("请求错误")
                    }
                })
            }
        })
    });

    // //获取数据
    // function fetchData() {
    //     var teacherId = 0
    //     $.ajax({
    //         url:'获取企业数据',
    //         method: 'get',
    //         data: teacherId,
    //         success: function(res) {
    //             //获取简介
    //             $(".desc").val(res.desc)
    //             //获取社会代码
    //             $(".Code").val(res.Code)
    //             //获取公司名称
    //             $(".Name").text(res.Name)
    //             //获取法定代表人
    //             $(".Legal").val(res.Legal)
    //             //获取公司类型
    //             $(".type").val(res.type)
    //             //获取联系人
    //             $(".Contacts").val(res.Contacts)
    //             //获取真实姓名
    //             $(".realName").val(res.realName)
    //             //获取手机号
    //             $(".phone").val(res.phone)
    //         }
    //     })
    //     //获取密码
    //   /*  fetchPassword()*/
    // }

    //获取密码
  /*  function fetchPassword() {
        $.ajax({
            url: '',
            method: "get",
            success: function(res) {
                $(".password").val(res.password)
            }
        })
    }*/

    //修改密码
  /*  function editpassword() {
        $.ajax({
            url: '',
            method: "post",
            data: $(".password").val(),
            success: function(){
                alert("修改成功")
            }
        })
    }*/

</script>
</body>
</html>