<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../css/layui.css"  th:href="@{/css/layui.css}"/>
    <script type="text/javascript" src="../js/layui.js" th:src="@{/js/layui.js}"></script>
    <link rel="stylesheet" href="../css/personalInfor.css" th:href="@{/css/personalInfor.css}">
    <script src="../../static/js/jquery-3.3.1.min.js" th:src="@{/js/jquery-3.3.1.min.js}"></script>

</head>

<body style="overflow-y: hidden">
<div th:replace="top::html" ></div>
<div class="infoContainer" style="margin-top:90px;">
    <h3 class="title">修改密码</h3>
    <div class="infoWrapper">
        <form action="" method="" class="layui-form">
            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label" style="width: 120px;">当前密码</label>
                <div class="layui-input-block">
                    <input type="text"  class="layui-input curPassword"></input>
                </div>
            </div>
            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label"  style="width: 120px;">新密码</label>
                <div class="layui-input-block">
                    <input type="text"  class="layui-input newPassword"  placeholder="请输入新前密码"></input>
                </div>
            </div>
            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label"  style="width: 120px;">确定密码</label>
                <div class="layui-input-block">
                    <input type="text"  class="layui-input surePassword" placeholder="请再次输入新密码"></input>
                </div>
            </div>
            <div class="editBtn">
                <button type="button" class="layui-btn Btn"> 修改密码</button>
            </div>
        </form>
    </div>
</div>
<script>
    // layui组件初始化
    layui.use(['form'], function(){
        var form = layui.form,
            layer = layui.layer

    });

    $(function(){
       /* //获取密码数据
        fetchData();
*/
        //检查输入密码是否与新密码一致
        $(".surePassword").blur(function(){
            if($(".surePassword").val() !== $(".newPassword").val()) {
                alert("两次输入密码不一致")
                //清空输入密码
                $(".surePassword").val("")
            }
        })

        $(".Btn").click(function() {
            var params = {
                oldPassword: $(".curPassword").val(),
                newPassword: $(".newPassword").val()
            }
            $.ajax({
                url: '',
                method: 'post',
                data: params,
                success:function() {
                    alert("修改成功")
                },
                error:function() {
                    alert("修改失败")
                }
            })
        })

        //提交修改密码
    });

    //获取原密码
   /* function fetchData() {
        $.ajax({
            url:"",
            method: "get",
            success: function(res) {
                $(".curPassword").val(res.curPassword)
            }

        })
    }*/

    //提交修改密码
    // function editPassword() {
    //     //检验
    //     if($(".surePassword").val() == "") {
    //         alert("请先输入原密码")
    //         return
    //     }else if ($(".newPassword").val() == "") {
    //         alert("请先输入新密码")
    //     }
    //     else {
    //         $.ajax({
    //             url:"",
    //             method: "post",
    //             data: $(".newPassword").val(),
    //             success:function() {
    //                 alert("修改成功!")
    //                 $(".newPassword").val("")
    //                 $(".surePassword").val("")
    //             }
    //         })
    //     }
    //
    // }
</script>
</body>
</html>