<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../css/layui.css"  th:href="@{/css/layui.css}"/>
    <script type="text/javascript" src="../js/layui.js" th:src="@{/js/layui.js}"></script>
    <link rel="stylesheet" href="../css/personalInfor.css" th:href="@{/css/personalInfor.css}">
    <script src="../../static/js/jquery-3.3.1.min.js" th:src="@{/js/jquery-3.3.1.min.js}"></script>

</head>

<body>
<div th:replace="top::html" ></div>
<div class="infoContainer" style="margin-top:90px;>
    <h3 class="title">个人资料</h3>
    <div class="stu-info" >
        <div class="avatorWrapper">
            <img src="./image/avator.png" th:src="${teacher.avatar}" class="avator">
            <p class="teaName" th:text="${teacher.name}" style="padding-left:20px;">教师姓名</p>
        </div>
        <div class="right" style="border:none;padding-left: 20px;">
            <p class="uNo">教师工号：<span class="No" th:text="${teacher.number}">20151022415</span></p>
        </div>
    </div>
    <div class="infoWrapper">
        <form action="" method="" class="layui-form">
            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label" style="width: 120px;">个人简介</label>
                <div class="layui-input-block" style="padding-left: 10px;">
                    <textarea placeholder="请输入内容" th:text="${teacher.credential}" class="layui-textarea desc"></textarea>
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label" style="width: 120px;">在职学校</label>
                <div class="layui-input-block">
                    <input type="text" name="school"  th:value="${teacher.school}" autocomplete="off" class="layui-input school">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label" style="width: 120px;">所在学院</label>
                <div class="layui-input-block">
                    <input type="text" name="college" th:value="${teacher.college}"  autocomplete="off" class="layui-input college">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label" style="width: 120px;">专业领域</label>
                <div class="layui-input-block">
                    <input type="text" name="major" th:value="${teacher.specially}"  autocomplete="off" class="layui-input major">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label" style="width: 120px;">职位</label>
                <div class="layui-input-block">
                    <input type="text" name="position" th:value="${teacher.position}"  autocomplete="off" class="layui-input position">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label" style="width: 120px;">民族</label>
                <div class="layui-input-inline">
                    <select name="nation" lay-verify="required" class="nation">
                        <option th:value="${teacher.nation}" th:text="${teacher.nation}">汉族</option>
                    </select>
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label" style="width: 120px;">政治面貌</label>
                <div class="layui-input-inline">
                    <select name="role" lay-verify="required" class="role">
                        <option value="共青团员" th:selected="${teacher.politicsstatus} eq '共青团员'">共青团员</option>
                        <option value="党员" th:selected="${teacher.politicsstatus} eq '党员'">党员</option>
                        <option value="群众" th:selected="${teacher.politicsstatus} eq '群众'">群众</option>
                    </select>
                </div>
            </div>

            <!--<div class="layui-form-item">-->
                <!--<label class="layui-form-label">密码</label>-->
                <!--<div class="layui-input-block">-->
                    <!--<input type="password" class="layui-input password" disabled>-->
                <!--</div>-->
            <!--</div>-->
            <div class="updateMsg">
                <button type="button" class="layui-btn editBtn">修改资料</button>
            </div>
        </form>
    </div>
</div>
<script>
    // layui组件初始化
    layui.use(['form'], function(){
        var form = layui.form,
            layer = layui.layer
    });
    // 56个民族数据
    var nations = [
        {id: 1, name: '汉族'},
        {id: 2, name: '蒙古族'},
        {id: 3, name: '回族'},
        {id: 4, name: '藏族'},
        {id: 5, name: '维吾尔族'},
        {id: 6, name: '苗族'},
        {id: 7, name: '彝族'},
        {id: 8, name: '壮族'},
        {id: 9, name: '布依族'},
        {id: 10, name: '朝鲜族'},
        {id: 11, name: '满族'},
        {id: 12, name: '侗族'},
        {id: 13, name: '瑶族'},
        {id: 14, name: '白族'},
        {id: 15, name: '土家族'},
        {id: 16, name: '哈尼族'},
        {id: 17, name: '哈萨克族'},
        {id: 18, name: '傣族'},
        {id: 19, name: '黎族'},
        {id: 20, name: '傈僳族'},
        {id: 21, name: '佤族'},
        {id: 22, name: '畲族'},
        {id: 23, name: '高山族'},
        {id: 24, name: '拉祜族'},
        {id: 25, name: '水族'},
        {id: 26, name: '东乡族'},
        {id: 27, name: '纳西族'},
        {id: 28, name: '景颇族'},
        {id: 29, name: '柯尔克孜族'},
        {id: 30, name: '土族'},
        {id: 31, name: '达翰尔族'},
        {id: 32, name: '么佬族'},
        {id: 33, name: '羌族'},
        {id: 34, name: '布朗族'},
        {id: 35, name: '撒拉族'},
        {id: 36, name: '毛南族'},
        {id: 37, name: '仡佬族'},
        {id: 38, name: '锡伯族'},
        {id: 39, name: '阿昌族'},
        {id: 40, name: '普米族'},
        {id: 41, name: '塔吉克族'},
        {id: 42, name: '怒族'},
        {id: 43, name: '乌孜别克族'},
        {id: 44, name: '俄罗斯族'},
        {id: 45, name: '鄂温克族'},
        {id: 46, name: '德昂族'},
        {id: 47, name: '保安族'},
        {id: 48, name: '裕固族'},
        {id: 49, name: '京族'},
        {id: 50, name: '塔塔尔族'},
        {id: 51, name: '独龙族'},
        {id: 52, name: '鄂伦春族'},
        {id: 53, name: '赫哲族'},
        {id: 54, name: '门巴族'},
        {id: 55, name: '珞巴族'},
        {id: 56, name: '基诺族'},

    ];

    $(function(){
        // //获取学生数据
        // fetchData();
        //动态添加民族
        for (var i = 0; i < nations.length; i++) {
            (function (i) {
                $("select[name='nation']").append("<option value=" + nations[i].name + ">" + nations[i].name + "<option>");
            })(i)
        }
        //提交修改数据
        $(".updateMsg").onclick(function() {
            //检查数据是否为空
            var desc =  $(".desc").val();
            var nation = $(".nation").val()
            var role = $(".role").val()
            var school = $(".school").val()
            var college = $(".college").val()
            var major = $(".major").val()
            var position = $(".position").val()
            var params = {
                credential: $(".desc").val(),
                school : $(".school").val(),
                college : $(".college").val(),
                specially : $(".major").val(),
                position : $(".position").val(),
                nation:  $(".nation").val(),
                politicsstatus:  $(".role").val(),
            }
            if(school="") {
                alert("在职学校能为空")
                return
            }else if(college=="") {
                alert("所在学院不能为空")
                return
            }else if (major=="") {
                alert("专业领域不能为空")
                return
            }else if (position == "") {
                alert("职位不能为空")
            }
            else {
                $.ajax({
                    url:'/user/teacherUpdateMsg',
                    method: 'post',
                    data: params,
                    success: function(data) {
                        if (data.code == 1) {
                            alert("修改成功");
                        } else {
                            alert("修改失败");
                        }
                    },
                    error: function() {
                        alert("请求失败")
                    }
                })
            }
        })

        // //获取密码
        // fetchPassword()

    });

    // //获取数据
    // function fetchData() {
    //     var teacherId = 0
    //     $.ajax({
    //         url:'获取教师数据',
    //         method: 'get',
    //         data: teacherId,
    //         success: function(res) {
    //             //获取个人简介
    //             $(".desc").val(res.desc)
    //             //获取姓名
    //             $(".teaName").text(res.stuName)
    //             //获取在职学校
    //             $(".school").val(res.school)
    //             //获取所在学院
    //             $(".college").val(res.college)
    //             //获取专业领域
    //             $(".major").val(res.major)
    //             //获取职位
    //             $(".position").val(res.position)
    //             //获取民族
    //             $(".nation").val(res.nation)
    //             //获取政治身份
    //             //1-团员 2-党员 3-群众
    //             $(".role").val(res.role)
    //             //获取教师工号
    //             $(".No").text(res.No)
    //         }
    //     })
    // }

    //获取密码
  /*  function fetchPassword() {
        $.ajax({
            url: '',
            method: "get",
            success: function(res) {
                $(".password").val(res.password)
            }
        })
    }
*/
    //修改密码
  /*  function editpassword() {
        $.ajax({
            url: '',
            method: "post",
            data: $(".password").val(),
            success: function(){
                alert("修改成功")
            }
        })
    }*/

</script>
</body>
</html>