<!--_meta 作为公共模版分离出去-->
<!DOCTYPE HTML>
<html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="Bookmark" href="favicon.ico" >
    <link rel="Shortcut Icon" href="favicon.ico" />
    <title>后台管理</title>
    <style>
        .descVideo{
            display: block;
            margin: 0 auto;
            width:700px;
            height:393px;
            box-shadow: 0 0 30px skyblue;
        }
        .data_type{
            text-decoration: none;
            border: 1px solid #ccc;
            height: 36px;
            line-height: 24px;
            min-width: 24px;
            text-align: center;
            border-radius: 100px;
            font-size: 12px;
            padding:0 8px;
            color: #666;
        }
        .delete-btn {
            position: absolute;
            right: 300px;
        }
        .comments_list{
            list-style: none;
        }
        .comments_list li{
            margin-top: 10px;
            padding-bottom:5px;
            border-bottom:1px solid #ccc;
        }
        .comments_list li p{
            color: #999;
        }
        .comments_list li .u_name{
            color: #666;
            font-weight: bold;
            margin-left: 10px;
        }
        .details_comment{
            margin-top: 10px;
        }
    </style>
</head>
<body>
<!-- 嵌入导航栏 -->
<div th:replace="admins/nav::html"></div>

<section class="Hui-article-box">
    <nav class="breadcrumb"><i class="Hui-iconfont"></i> <a href="/admins/checkUserList" class="maincolor">后台管理首页</a>
        <span class="c-999 en">&gt;</span>
        <span class="c-666"><a href="/production/selectProBy" >业余作品管理</a></span>
    </nav>
    <article class="cl pd-20 show_product">
        <input type="hidden" th:value="*{productionModel[1].pId}" id="pid" />
        <p class='text-r'>上传时间：<span th:text="${#dates.format(productionModel[1].puploadTime, 'yyyy-MM-dd HH:mm:ss')}"></span></p>
        <div class="clearfix">
            <div class="f-l">
                <p>分类:&nbsp;&nbsp;&nbsp; <a href="#" class="data_type"><span th:text="${productionModel[0].catagory.caName}"></span></a></p>
            </div>
            <div class="f-r">
                <p class="f-l pl-20" style="color: #aaaaaa">浏览量: <span th:text="${productionModel[1].readSize}"></span></p>
                <p class="f-l pl-20" style="color: #aaaaaa" id="voteSize">点赞量: <span th:text="${productionModel[1].eVoteSize}"></span></p>
                <p class="f-l pl-20" style="color: #aaaaaa" id="commentSize">评论量: <span th:text="${productionModel[1].commentSize}"></span></p>
            </div>
        </div>
        <div class="product clearfix">
            <div class="product-title">
                作品标题：<span th:text="${productionModel[1].ptitle}"></span>
            </div>
            <br>
            <button class="btn btn-success radius f-r" value="0" id="check" th:if="${productionModel[1].pCheck} == 0"  th:onclick="'javascript:clickHandler()'">不通过审核</button>
            <button class="btn btn-success radius f-r" value="2" id="check" th:if="${productionModel[1].pCheck} != 0"  th:onclick="'javascript:clickHandler()'">通过审核</button>
            <!-- 作品简介 -->
            <div class="desc">
                作品简介：<span th:text="${productionModel[1].psummary}"></span>
            </div>
            <br>
            <div class="desc">
                审核状态：
                <span th:if="${productionModel[1].pCheck} == 0">已通过审核</span>
                <span th:if="${productionModel[1].pCheck} == 1">等待审核</span>
                <span th:if="${productionModel[1].pCheck} == 2">未通过审核</span>
            </div>
            <br>
            <!-- 作品详情 -->
            <div class="previewBox">
                <span>作品详情：</span>
                <a th:href="@{'https://view.officeapps.live.com/op/view.aspx?src=http://fu2jfz.natappfree.cc/'+${productionModel[1].pContent}}" class="btn radius btn-secondary" target="_blank">详情预览</a>
            </div>
            <br>
            <!-- 视频介绍 -->
            <div th:if="${productionModel[1].pVideo} != null">
                视频预览：<!--http这一段是视频服务器路径+视频映射路径-->
                <!--http这一段是视频服务器路径+视频映射路径-->
                <video th:src="@{'http://fu2jfz.natappfree.cc/temp/'+${productionModel[1].pVideo}}" controls class="descVideo"></video>
            </div>
            <div th:if="${productionModel[1].pVideo} == null">
                视频预览：暂无视频
            </div>
        </div>
        <div class="comment mt-20">
            <!-- 评论区 -->
            <div class="comments">
                <ul class="comments_list">
                </ul>
            </div>
        </div>
    </article>
</section>
<script type="text/javascript">
    $(document).ready(function() {
        Date.prototype.toLocaleString = function(){
            if((this.getMonth()+1)<10){
                var month = this.getMonth()+1;
                month = "0"+month;
            }else{
                var month = this.getMonth()+1;
            }
            if(this.getDate()<10){
                var date = this.getDate();
                date = "0"+date;
            }else{
                var date = this.getDate();
            }
            if(this.getHours()<10){
                var h = this.getHours();
                h = "0"+h;
            }else{
                var h = this.getHours();
            }
            if(this.getMinutes()<10){
                var m = this.getMinutes();
                m="0"+m;
            }else{
                var m = this.getMinutes();
            }
            if(this.getSeconds()<10){
                var s = this.getSeconds();
                s="0"+s;
            }else{
                var s = this.getSeconds();
            }
            return this.getFullYear()+'-'+month+"-"+date+" "+
                h+":"+m+":"+s;
        };


        loadComments();

        // 删除评论
        $(".comments_list").on('click','.delete-btn', function() {
            var id = $(this).parent().parent().attr("id");
            console.info(id);
            var url3 = '/comment/admin/deleteComment?pId='+$("#pid").val()+'&cId='+id;
            console.info(url3);
            $.ajax({
                url:url3,
                type:'get',
                success:function(){
                    alert("删除成功");
                    countVotesAndComments();
                    loadComments();
                },
                error:function(err){
                    alert("删除失败");
                    console.log(err)
                }

            })


        });
    });

    function clickHandler(){
        var url = "/production/updatePcheck/"+$("#pid").val();
        var pCheck = $("#check").attr("value");
        console.info(pCheck);
        console.info(url);
        $.ajax({
            type:"get",
            url:url,
            async: false,
            contentType:"application/json;charset=utf-8",
            data:{
                "pCheck": pCheck
            },
            success:function(){
                if(pCheck == 0){
                    $("#check").attr("value",2);
                    window.location.href='/production/admin/'+$("#pid").val();
                }
                else{
                    $("#check").attr("value",0);
                    window.location.href='/production/admin/'+$("#pid").val();
                }
            },
            error : function(err) {
                console(err);
            }
        });
    }



    function loadComments() {
        $.ajax({
            url: "/comment/admin/listAllComments?pId=" + $("#pid").val(),
            type: 'get',
            success: function (res) {
                var data = res.data;
                console.log(data);
                var floorNum = 0;
                $(".comments_list").empty();
                $(data).each(function () {
                    var u_name = Object.keys(this.map)[0];
                    var object = this.map[u_name];
                    var Createtime = new Date(object.createTime);
                    Createtime = Createtime.toLocaleString();
                    floorNum++;
                    var newDom = '<li id="' + object.id + '"><p><span class="floor">#<span class="floor_num">' + floorNum + '</span>楼</span><span class="u_name">' +
                        u_name + '</span></p><p class="details_comment">' + object.content + '</p><p class="comment_time">' + Createtime + '<button class="btn btn-primary  delete-btn">删除</button></p></li>'
                    $(".comments_list").append(newDom);

                });
            },
            error: function (err) {
                console.log(err);
            }

        });
    }

        function countVotesAndComments() {
            $.ajax({

                url:"/production/countVoteAndComment/"+ $("#pid").val(),
                type:'get',
                success:function(res){
                    $("#voteSize").html(res.data.voteSize);
                    $("#commentSize").html(res.data.commentSize);
                },
                error:function(err){
                    console.log(err);
                }

            });
        }

</script>

</body>
</html>