<!--_meta 作为公共模版分离出去-->
<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <link rel="Bookmark" href="favicon.ico">
    <link rel="Shortcut Icon" href="favicon.ico"/>
    <script th:src="@{/js/jquery-1.11.0.min.js}"></script>
    <script th:src="@{/js/studentAlter.js}"></script>
    <link rel="stylesheet" href="../css/layui.css" th:href="@{/css/layui.css}"/>
    <script type="text/javascript" src="../js/layui.js" th:src="@{/js/layui.js}"></script>
    <title>后台管理</title>
</head>
<body>
<!-- 嵌入导航栏 -->
<div th:replace="admins/nav::html"></div>

<section class="Hui-article-box">
    <nav class="breadcrumb"><i class="Hui-iconfont"></i> <a href="../../../../index.html" th:href="@{/admin}"
                                                             class="maincolor">后台管理首页</a>
        <span class="c-999 en">&gt;</span>
        <span class="c-666">修改学生信息</span>
    </nav>
    <article class="cl pd-20">
        <div class="alter-detail">
            <div>
                <!--头像、邮箱、真实姓名、认证状态、账号名、手机号码、学号、学年、所在学院、专业、民族、政治面貌、个人简介-->
                <span>学生头像：</span>
                <img src="../../../../static/head.jpg"  id="imgId" style="width: 120px;height: 120px;">
                <form id="imageUpload" method="post" enctype="multipart/form-data" class="form-item">
                    <input type="file" id="file" name="file">
                </form>
                <div class="form-item">
                    <span>学生姓名：</span><input type="text" id="name" class="input-text radius size-M" name="name">
                </div>
                <div class="form-item">
                    <span>电子邮箱：</span><input type="email" id="email" class="input-text radius size-M" name="mail">
                </div>
                <div class="form-item">
                    <span>手机号码：</span><input type="tel" id="telephone" class="input-text radius size-M" name="">
                </div>
                <div class="form-item">
                    <span>学号：</span><input type="text" id="number" class="input-text radius size-M" name="">
                </div>
                <div class="form-item">
                    <span>学年：</span><input type="text" id="edu" class="input-text radius size-M" name="">
                </div>
                <div class="form-item">
                    <span>所在学院：</span><input type="text" id="college" class="input-text radius size-M" name="">
                </div>
                <div class="form-item">
                    <span>专业：</span><input type="text" id="classes" class="input-text radius size-M" name="">
                </div>
                <div class="form-item">
                    <span>民族：</span><input type="text" id="nation" class="input-text radius size-M" name="">
                </div>
                <div class="form-item">
                    <span>政治面貌：</span><input type="text" id="politicsstatus" class="input-text radius size-M" name="">
                </div>
                <div>
                    个人简介：<textarea name="introduct" id="credential" cols="50" rows="6"></textarea>
                </div>
                <div class="mt-10 mb-10">
                    认证状态：已认证
                </div>
                <div>
                    <input class="btn btn-primary radius" id="submit" type="submit" value="提交更改">
                </div>
            </div>
        </div>
    </article>
</section>


</body>
</html>