<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>比赛成绩</title>
    <link rel="stylesheet" th:href="@{/css/animate.min.css}">
    <style>
        body,html{
            width: 100%;
            min-height: 100%;
        }

        body{

        }
        .container{
            padding-top:70px;
            /*background: url("/images/iamges/match_bgm.png");*/
        }
        .table tr:nth-child(2n+1){
            background: #62bad3;
            color:#fff;
        }
        .table tr:nth-child(2n){
            background: #fff;
        }
    </style>
</head>
<body>
<div th:replace="top::html"></div>
<div class="container">
    <div class="row clearfix animated fadeIn" style="text-align: center">
        <img src="/images/iamges/match_head.png" style="width:60%">
        <div class="col-md-12 column" >
            <h3 class="text-center" th:text="${matchsName}" style="padding-top:10px;padding-bottom:10px;background:#f1f3f4">
                第一届IT文化节<br />
            </h3>
            <table class="table table-condensed table-bordered" th:each="achievementList : ${eventAchievementList}" style="text-align: center">
                <thead th:if="${achievementList.size()} ne 0" >
                <tr style=" background: #fff;color:#8f8ca8">
                    <th style="text-align: center">排名</th>
                    <th style="text-align: center">比赛项目名称</th>
                    <th style="text-align: center">小组名称</th>
                    <th style="text-align: center">队长名称</th>
                    <th style="text-align: center">比赛成绩</th>
                </tr>
                </thead>
                <tbody>
                <tr  th:each="achievement : ${achievementList}">
                    <td th:text="${achievement.ranking}">1</td>
                    <td th:text="${achievement.eventName}">微电影大赛</td>
                    <td th:text="${achievement.groupName}">嘻哈战队</td>
                    <td th:text="${achievement.captainName}">林文浩</td>
                    <td th:text="${achievement.achievement}">99.00</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>