<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>查看</title>
    <script th:src="@{/js/jquery.min.js}" src="/js/jquery.min.js"></script>
    <link href="/bootstrap/css/bootstrap.min.css" th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <style>
        ul{
            list-style: none;
        }
    </style>
</head>
<body>
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12">
            <ul class="thumbnails">
                <li class="span4">
                    <div class="thumbnail">
                        <div class="caption" th:each="matchs : ${matchsList}">
                            <h3 th:text="${matchs.name}"></h3>
                            <p th:text="'比赛开始报名时间为:'+${matchs.startTime}">
                                也称普林斯顿结构，是一种将程序指令存储器和数据存储器合并在一起的存储器结构。程序指令存储地址和数据存储地址指向同一个存储器的不同物理位置。
                            </p>
                            <p>
                                <a class="btn btn-primary" th:href="'/match/preview/'+ ${matchs.id}" href="#">查看比赛</a>
                                <a class="btn btn-info"  href="#">查询成绩</a>
                            </p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>