<!--_meta 作为公共模版分离出去-->
<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="Bookmark" href="favicon.ico" >
    <link rel="Shortcut Icon" href="favicon.ico" />
    <link rel="stylesheet" href="../css/layui.css" th:href="@{/css/layui.css}" />
    <link rel="stylesheet" th:href="@{/editormd/css/editormd.css}"href="/editormd/css/editormd.css"/>
    <link rel="shortcut icon" href="https://pandao.github.io/editor.md/favicon.ico" type="image/x-icon"/>
    <link rel="stylesheet" type="text/css" href="../../../../../static/h-ui.admin/css/style.css" th:href="@{/h-ui.admin/css/style.css}"/>

    <script type="text/javascript" src="../js/layui.js" th:src="@{/js/layui.js}"></script>
    <script th:src="@{/js/jquery.min.js}" src="/js/jquery.min.js"></script>
    <script th:src="@{/editormd/js/editormd.js}" src="/editormd/js/editormd.js"></script>
    <script th:src="@{/js/jquery-3.3.1.min.js}" src="/js/jquery-3.3.1.min.js"></script>
    <!--<script th:src="@{/js/bootstrap.min.js}" src="/js/bootstrap.min.js"></script>-->
    <title>后台管理</title>
    <style>
        .alter-detail {
            margin-left: 0px
        }
        .mylabel {
            width: 200px;
        }
        .myform{
            padding-top:20px;
            padding-bottom:20px;
            background-color: #fff;
            width: 90%;
            margin: 0 auto;
        }
        .myinputname{
            width: 100%;
            height: 40px;
            line-height: 40px;
            padding-left: 16px;
            border: none;
            background-color: #efefef;
            color: #4f4f4f;
            outline: none;
        }
        .layui-form input[type=checkbox] {
            display: inline-block;
        }

        .alter-detail #test-editormd {
            width: 90% !important;
        }
    </style>
</head>
<body style="background-color: #f4f4f4">
<div th:replace="top::html"></div>

<section class="Hui-article-box"  style="margin-top: 100px;background: #fff;margin-left: 10%;margin-right: 10%;">
    <h1 align="center" style="height: 50px;
    line-height: 50px;
    padding-left: 40px;
    font-size: 24px;
    color: #999;
    letter-spacing: 2px;">编辑比赛</h1>
    <article class="cl pd-20">
        <div class="alter-detail">
            <form action="?" th:action="@{/match/saveMatchs}" method="post" enctype="application/x-www-form-urlencoded,charset=UTF-8">
                <input type="hidden" name="id" th:value="${matchs.id}">
                <!--<div class="form-item">-->
                    <!--<span>比赛名称：</span>-->
                    <!--<input type="text" th:value="${matchs.name}" class="input-text radius size-M" name="name">-->
                <!--</div>-->
                <!--<div class="form-item">-->
                    <!--<span>比赛开始时间：</span>-->
                    <!--<input type="date" th:field="${matchs.startTime}" class="input-text radius size-M" name="startTime">-->
                <!--</div>-->
                <!--<div class="form-item">-->
                    <!--<span>比赛截止报名时间：</span>-->
                    <!--<input type="date" th:field="${matchs.lastsigntime}"  class="input-text radius size-M" name="lastsigntime">-->
                <!--</div>-->
                <!--<div class="form-item">-->
                    <!--<span>比赛截止提交时间：</span>-->
                    <!--<input type="date" th:field="${matchs.lastsubmittime}" class="input-text radius size-M" name="lastsubmittime">-->
                <!--</div>-->
                <!--<div class="form-item">-->
                    <!--<span>比赛结束时间：</span>-->
                    <!--<input type="date" th:field="${matchs.overTime}" class="input-text radius size-M" name="overTime">-->
                <!--</div>-->
                <div class="layui-form myform">
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label mylabel">开始时间</label>
                            <div class="layui-input-inline">
                                <input type="text" class="layui-input" th:field="${matchs.startTime}"  placeholder="yyyy-MM-dd HH:mm:ss" id="startTime" name="startTime">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label  mylabel">报名结束时间</label>
                            <div class="layui-input-inline">
                                <input type="text" class="layui-input" placeholder="yyyy-MM-dd HH:mm:ss" name="lastsigntime"  id="lastsigntime"  th:field="${matchs.lastsigntime}">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label  mylabel">提交截止时间</label>
                            <div class="layui-input-inline">
                                <input type="text" class="layui-input" th:field="${matchs.lastsubmittime}" placeholder="yyyy-MM-dd HH:mm:ss"  id="lastsubmittime" name="lastsubmittime">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label  mylabel">结束时间</label>
                            <div class="layui-input-inline">
                                <input type="text" class="layui-input" th:field="${matchs.overTime}" placeholder="yyyy-MM-dd HH:mm:ss"  id="overTime" name="overTime">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-item" style="width: 90%;margin: 20px 0;background: #fff;margin: 0 auto; padding-bottom: 20px;">
                    <!--<span>比赛名称：</span>-->
                    <input type="text" th:value="${matchs.name}" id="title" class="input-text radius size-M myinputname" name="name" style="width: 100%">
                </div>
                <!-- markdown代码 -->
                <div class="editormd" id="test-editormd">
                    <textarea class="editormd-markdown-textarea" name="content" id="content" th:text="*{matchs.content}"></textarea>
                    <!-- 第二个隐藏文本域，用来构造生成的HTML代码，方便表单POST提交，这里的name可以任意取，后台接受时以这个name键为准 -->
                    <textarea class="editormd-html-textarea" name="htmlContent" id="htmlContent" th:text="*{matchs.htmlContent}"></textarea>
                </div>
                <div style="text-align: center;padding-bottom:20px">
                    <input class="btn btn-primary radius" type="submit" value="确认发布" >
                </div>
            </form>
        </div>
    </article>
</section>

<script type="text/javascript">
    $(function() {
        var layer;
        layui.use(['layer'], function(){
            layer = layui.layer
        });
        layui.use('laydate', function(){
            var laydate = layui.laydate;
            laydate.render({
                elem: '#startTime'
                ,type: 'datetime'
            });
            laydate.render({
                elem: '#lastsigntime'
                ,type: 'datetime'
            });
            laydate.render({
                elem: '#lastsubmittime'
                ,type: 'datetime'
            });
            laydate.render({
                elem: '#overTime'
                ,type: 'datetime'
            });
        })


        editormd("test-editormd", {
            width   : "90%",
            height  : 640,
            syncScrolling : "single",
            //你的lib目录的路径，我这边用JSP做测试的
            tocm : true, // Using [TOCM]
            tex : true, // 开启科学公式TeX语言支持，默认关闭
            flowChart : true, // 开启流程图支持，默认关闭
            path    : "/editormd/lib/",
            //这个配置在simple.html中并没有，但是为了能够提交表单，使用这个配置可以让构造出来的HTML代码直接在第二个隐藏的textarea域中，方便post提交表单。
            saveHTMLToTextarea : true,
            imageUpload : true,
            imageFormats : [ "jpg", "jpeg", "gif", "png", "bmp", "webp" ],
            imageUploadURL : "/file/uploadimg",
            onload: function () {
                //console.log('onload', this);
                //this.fullscreen();
                //this.unwatch();
                //this.watch().fullscreen();
                this.width("80%");
                this.height(480);
                //this.resize("100%", 640);
            }
        });
    });

</script>
</body>
</html>