<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>看什么看</title>
    <script th:src="@{/js/jquery.min.js}" src="/js/jquery.min.js"></script>
    <link href="/bootstrap/css/bootstrap.min.css" th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet"></head>
    <link rel="stylesheet" th:href="@{/css/layui.css}" href="//res.layui.com/layui/dist/css/layui.css"  media="all">
    <script th:src="@{/js/bootstrap.min.js}" src="/js/bootstrap.min.js"></script>
<body >
<!--<div class="container">-->
    <!--<div class="row clearfix">-->
        <!--<div class="col-md-12 column">-->
            <!--<div class="page-header">-->
                <!--<h1 th:text="${matchs.name}">-->
                <!--</h1>-->
            <!--</div>-->
            <!--<div th:utext="${matchs.htmlContent}"></div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->
<div class="layui-col-md12">
    <div class="layui-card">
        <div class="layui-card-header" th:align="center" th:text="${matchs.name}">标题</div>
        <div class="layui-card-header" th:align="center" th:text="'比赛开始报名时间为：'+${matchs.startTime}">开始报名时间</div>
        <div class="layui-card-header" th:align="center" th:text="'比赛最终结束时间为：'+${matchs.overTime}">最终结束时间</div>
        <div class="layui-card-header" th:align="center" th:text="'比赛截止报名时间为：'+${matchs.lastsigntime}">截止报名时间</div>
        <div class="layui-card-header" th:align="center" th:text="'比赛截止提交时间为：'+${matchs.lastsubmittime}">截止提交时间</div>
        <div class="layui-card-body" th:align="center" th:utext="${matchs.htmlContent}">
            内容
        </div>
    </div>
</div>
<div class="container">
    <div class="row clearfix">
        <div class="col-md-12 column" th:align="right">
            <a id="modal-115898" href="#modal-container-115898"  role="button" class="btn btn-default btn-primary" data-toggle="modal">点击报名</a>

            <div class="modal fade" id="modal-container-115898" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" th:align="center">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            <h4 class="modal-title" id="myModalLabel">
                                请填写报名信息
                            </h4>
                        </div>
                        <div class="modal-body">
                            选择报名的项目：
                            <select id="catalogSelect"  data-placeholder="请选择" >
                                <option th:value="*{id}" th:text="*{name}" th:each="event : ${matchs.eventList}" th:object="${event}">Java</option>
                            </select><p/>
                            <label for="name" class="col-form-label">报名队伍名称：</label>
                            <input type="text" class="form-control" id="name" name="name" maxlength="50" placeholder="请填写队伍名称">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button> <button type="button" class="btn btn-primary">保存</button>
                        </div>
                    </div>

                </div>

            </div>

        </div>
    </div>
</div>
</body>
</html>