<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/style.css}"href="/css/style.css"/>
    <link rel="stylesheet" th:href="@{/editormd/css/editormd.css}"href="/editormd/css/editormd.css"/>
    <link rel="shortcut icon" href="https://pandao.github.io/editor.md/favicon.ico" type="image/x-icon"/>
   <script th:src="@{/js/jquery.min.js}" src="/js/jquery.min.js"></script>
    <script th:src="@{/editormd/js/editormd.js}" src="/editormd/js/editormd.js"></script>
    <script th:src="@{/js/jquery-3.3.1.min.js}" src="/js/jquery-3.3.1.min.js"></script>
    <script th:src="@{/js/toastr.min.js}"></script>
    <script>
        //发布资讯
        $(function() {
            $("#submitInformation").click(function () {
                var  username = $("#username").val();
                $.ajax({
                    url: '/information/'+username+'/edit',
                    type: 'POST',
                    contentType: "application/json;charset=utf-8",

                    data: JSON.stringify({
                        "id": $('#informationId').val(),
                        "title": $('#title').val(),
                        "author": $('#author').val(),
                        "content": $('#content').val(),
                        "htmlContent":$("#htmlContent").val(),
                        "informationCategory": {"id": $('#informationCategory').val()},
                    }),
                    success: function(data){
                        if (data.success) {
                            // 成功后，重定向
                            window.location = data.body;
                        } else {
                            toastr.error("error!"+data.message);
                        }

                    },
                    error : function() {
                        toastr.error("error!");
                    }
                })
            })
        })
    </script>
</head>
<body>
<!-- 嵌入导航栏 -->
<div th:replace="top::html"></div>


<section class="Hui-article-box" style="border: 1px solid #ccc;margin-top: 10px">
    <h1 align="center">发布资讯</h1>
    <article class="cl pd-20">
        <div class="alter-detail" th:object="${informationModel.information}">
            <input type="hidden" name="id" th:value="*{id}" id="informationId">
            <input type="hidden" id="username" th:value="${username}" name="username">
            <div class="form-item">
                <span>资讯标题:</span>
                <input name="title" placeholder="请输入标题" th:value="*{title}" id="title" type="text" class="input-text radius size-M" >
            </div>
            <div class="form-item">
                <span>资讯作者:</span>
                <input placeholder="请输入作者" name="author" th:value="*{author}" id="author" type="text"  class="input-text radius size-M" >
            </div>
            <div>
                资讯分类：<select id="informationCategory" th:placeholder="请选择">
                <option th:value="*{id}" th:text="*{name}" th:each="informationCategory : ${categories}" th:object="${informationCategory}"
                        th:selected="${informationCategory eq information.informationCategory}">java</option>
            </select>
            </div>
            <!-- markdown代码 -->
            <div class="editormd" id="test-editormd" >
                <textarea class="editormd-markdown-textarea" name="content" id="content" th:text="*{content}"></textarea>
                <!-- 第二个隐藏文本域，用来构造生成的HTML代码，方便表单POST提交，这里的name可以任意取，后台接受时以这个name键为准 -->
                <textarea class="editormd-html-textarea" name="htmlContent" id="htmlContent" th:text="*{htmlContent}"></textarea>
            </div>
            <div class="subprojects">
                <!-- 发布按钮 -->
                <button type="button" id="submitInformation" class="btn btn-default btn-primary" >发布</button>
            </div>
        </div>
    </article>
</section>



    <script type="text/javascript">
        $(function() {
            editormd("test-editormd", {
                width   : "90%",
                height  : 640,
                syncScrolling : "single",
                //你的lib目录的路径，我这边用JSP做测试的
                tocm : true, // Using [TOCM]
                tex : true, // 开启科学公式TeX语言支持，默认关闭
                flowChart : true, // 开启流程图支持，默认关闭
                path    : "/editormd/lib/",
                //这个配置在simple.html中并没有，但是为了能够提交表单，使用这个配置可以让构造出来的HTML代码直接在第二个隐藏的textarea域中，方便post提交表单。
                saveHTMLToTextarea : true,
                imageUpload : true,
                imageFormats : [ "jpg", "jpeg", "gif", "png", "bmp", "webp" ],
                imageUploadURL : "/file/uploadimg",
                onload: function () {
                    //console.log('onload', this);
                    //this.fullscreen();
                    //this.unwatch();
                    //this.watch().fullscreen();
                    this.width("90%");
                    this.height(480);
                    //this.resize("100%", 640);
                }


            });


        });


    </script>
</body>
</html>


