<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/index.css}" />
    <link href="/bootstrap/css/bootstrap.min.css" th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet"></head>
    <link rel="stylesheet" th:href="@{/css/layui.css}" href="//res.layui.com/layui/dist/css/layui.css"  media="all">
    <script th:inline="javascript">
        var informationId = [[${informationModel.id}]];
        var informationUrl = '/information/' + [[${user.username}]] + '/'+ [[${informationModel.id}]] ;
    </script>
    <script>

        //删除资讯
        $(function () {
            $(".mainbody").on("click",".information-delete",function () {
                $.ajax({
                    url: informationUrl,
                    type: 'DELETE',
                    success: function(data){
                        if (data.success) {
                            // 成功后，重定向
                            window.location = data.body;
                        } else {
                            toastr.error(data.message);
                        }
                    },
                    error : function() {
                        toastr.error("error!");
                    }
                })
            })
        })
    </script>
<body>
<div th:replace="top::html"></div>
    <div class="mainbody" style="border: 1px solid #ccc;margin-top: 10px">
        <div class="container clearfix" style="background-color: white ">
            <div class="mainbody_topbg"></div>
            <div class="bread">当前位置：
                <a th:href="@{/}">首页</a> >
                <a th:href="@{/information/showAllNotice}">资讯</a> >
                <a th:text="${informationModel.informationCategory.name}" th:href="@{/information/showAllNotice?catagory=}+${informationModel.informationCategory.id}">资讯详情</a>
            </div>
            <div class="maincontent" style="width: 100%">
                <div class="post">
                    <h2><a th:href="'/information/'+ ${user.username} + '/' + ${informationModel.id} "
                           th:title="${user.username}" th:text="${informationModel.title}">
                    </a></h2>
                    <div class="postdata">
                        <div class="cate"> 作者：<a  th:text="${informationModel.author}" >x</a> 发表于 </div>
                        <div class="date" th:text="${#dates.format(informationModel.createTime, 'yyyy-MM-dd HH:mm')}">2018-03-24</div>
                         阅读量: <i class="fa fa-eye" aria-hidden="true" th:text="${informationModel.readSize}"></i>
                        <a th:if="${isInformationOwner}" th:href="'/information/' + ${user.username}+ '/edit/'+ ${informationModel.id}" >编辑</a>
                        <a th:href="'javascript:void(0)'" th:if="${isInformationOwner}" class="information-delete">删除</a>
                    </div>
                    <div class="content" style="margin-left: 50px;margin-right: 50px">
                        <div class="layui-card-body"  th:utext="${informationModel.htmlContent}">
                            内容
                        </div>
                        <br /><br />
                        <p style="text-align: right;margin-right: 50px;" th:text="'编辑者:'+${informationModel.author}">小帅哥</p>
                        <p style="text-align: right;margin-right: 50px; " th:text="${#dates.format(informationModel.createTime, 'yyyy-MM-dd HH:mm')}">2018-03-24</p>
                    </div>
                </div>

            </div>
            <div class="mainbody_bottombg"></div>
        </div>
    </div>

</body>
</html>