<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/index.css}" />
    <style>
        a:hover{
            text-decoration: none;
        }
        .postdata{
            display: flex;
            justify-content: space-between;
        }
    </style>
<body>
<div th:replace="top::html"></div>
<div class="mainbody" style="padding-top:100px">
    <div class="container clearfix" style="background-color: white ">
        <div class="mainbody_topbg"></div>
        <div class="bread">当前位置：
            <a th:href="@{/index}">首页</a> /
            <a th:href="@{/information/showAllNotice}">资讯</a> /
            <a th:text="${informationModel.informationCategory.name}" th:href="@{/information/showAllNotice?catagory=}+${informationModel.informationCategory.id}">资讯详情</a>
        </div>
        <div class="maincontent" style="width: 100%">
            <div class="post" >
                <h1 th:title="${informationModel.author}" th:text="${informationModel.title}"></h1>
                <div class="postdata" style="border-bottom:1px solid #e0e0e0;padding-bottom:10px;margin-bottom:20px">
                    <div class="left" style="display: flex">
                        <div class="date" th:text="${#dates.format(informationModel.createTime, 'yyyy-MM-dd HH:mm')}" style="color:#999;font-size: 14px">2018-03-24</div>
                        <div class="cate" style="padding-left:30px;color:#999" th:text="${informationModel.author}" ></div>
                    </div>
                    <span class="read" style="color:#999"> <i class="fa fa-eye" aria-hidden="true" th:text="${informationModel.readSize}" style="font-weight: 700;color:#f54343"></i> 阅读</span>
                </div>
                <div class="content" style="margin-left: 50px;margin-right: 50px;line-height: 32px">
                    <div class="layui-card-body"  th:utext="${informationModel.htmlContent}">
                        内容
                    </div>
                    <br /><br />
                    <p style="text-align: right;margin-right: 50px;" th:text="'编辑者:'+${informationModel.author}">小帅哥</p>
                    <p style="text-align: right;margin-right: 50px;" th:text="${#dates.format(informationModel.createTime, 'yyyy-MM-dd HH:mm')}">2018-03-24</p>
                </div>
            </div>

        </div>
        <div class="mainbody_bottombg"></div>
    </div>
</div>

</body>
</html>