<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" data-th-fragment="header">
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
  <link rel="stylesheet" type="text/css" href="../../../../../static/h-ui/css/H-ui.min.css" th:href="@{/h-ui/css/H-ui.min.css}"/>
  <link rel="stylesheet" type="text/css" href="../../../../../static/h-ui.admin/css/H-ui.admin.css" th:href="@{/h-ui.admin/css/H-ui.admin.css}"/>
  <link rel="stylesheet" type="text/css" href="../../../../../static/lib/Hui-iconfont/1.0.8/iconfont.css" th:href="@{/lib/Hui-iconfont/1.0.8/iconfont.css}"/>
  <link rel="stylesheet" type="text/css" href="../../../../../static/h-ui.admin/skin/default/skin.css" id="skin" th:href="@{/h-ui.admin/skin/default/skin.css}"/>
  <link rel="stylesheet" type="text/css" href="../../../../../static/h-ui.admin/css/style.css" th:href="@{/h-ui.admin/css/style.css}"/>
<!--[if IE 6]>
<script type="text/javascript" src="http://lib.h-ui.net/DD_belatedPNG_0.0.8a-min.js" ></script>
<script>DD_belatedPNG.fix('*');</script><![endif]-->
<title>用户查看</title>
</head>
<body>
<div class="cl pd-20" style=" background-color:#5bacb6">
  <img class="avatar size-XL l" th:src="${company.avatar}" src="static/h-ui/images/user.png">
  <dl style="margin-left:80px; color:#fff">
    <dt><span class="f-18" th:text="${company.companyName}">仲恺创新创业有限公司</span></dt>
    <dd class="pt-10 f-12" style="margin-left:0" th:text="'公司法定代表人： '+${company.boss}">这家伙很懒，什么也没有留下</dd>
  </dl>
</div>
<div class="pd-20">
  <table class="table">
    <tbody>
    <tr>
        <th class="text-r" width="80">用户姓名：</th>
        <td th:text="${company.name}">林文浩</td>
    </tr>
      <tr>
        <th class="text-r" width="80">性别：</th>
        <td th:if="${company.sex}">男</td>
        <td th:unless="${company.sex}">女</td>
      </tr>
      <tr>
        <th class="text-r">注册手机：</th>
        <td th:text="${company.telephone}">13000000000</td>
      </tr>
      <tr>
        <th class="text-r">邮箱：</th>
        <td th:text="${company.email}">admin@mail.com</td>
      </tr>
      <tr>
        <th class="text-r">公司类型：</th>
        <td th:text="${company.type}">高新科技类</td>
      </tr>
      <tr>
        <th class="text-r">联系人：</th>
        <td th:text="${company.contacts}">小助理</td>
      </tr>
      <tr>
        <th class="text-r">联系电话：</th>
        <td th:text="${company.phone} + '届'">13923568989</td>
      </tr>
      <tr>
        <th class="text-r">营业执照：</th>
      </tr>
    </tbody>
  </table>
</div>
<div class="mt-20" align="center">
  <img src="../../static/yyzz.jpg" alt="" style="width: 240px;height: 360px;" th:src="${company.license}">
</div>
<!--_footer 作为公共模版分离出去-->
<script type="text/javascript" src="../../../../static/lib/jquery/1.9.1/jquery.min.js" th:src="@{/lib/jquery/1.9.1/jquery.min.js}"></script>
<script type="text/javascript" src="../../../../../static/lib/layer/2.4/layer.js" th:src="@{/lib/layer/2.4/layer.js}"></script>
<script type="text/javascript" src="../../../../../static/h-ui/js/H-ui.js" th:src="@{/h-ui/js/H-ui.js}"></script>
<script type="text/javascript" src="../../../../../static/h-ui.admin/js/H-ui.admin.page.js" th:src="@{/h-ui.admin/js/H-ui.admin.page.js}"></script>
<!--/_footer /作为公共模版分离出去-->

</body>
</html>