<!DOCTYPE html>
<html>
<head>
    <title>视频预览</title>
   <!--<script src="../../static/js/jquery-3.3.1.min.js" th:src="@{/js/jquery-3.3.1.min.js}">

    </script>-->
</head>
<body>
<form enctype="multipart/form-data" th:action="@{/uploadVideo}"  method="post">
<input type="file"  name="videoFile" id="videoFile">
    <input type ="submit" value="上传">
    <!--input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>-->
</form>
</body>
<script>
    /*alert($("#aaa").val());*/
</script>
</html>
