<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>查看</title>
    <style>
        ul{
            list-style: none;
        }
    </style>
</head>
<body>
<div th:replace="top::html"></div>
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12">
            <ul class="thumbnails">
                <h1 align="center" style="color: dodgerblue">参与的比赛</h1>
                <li class="span6"th:if="${isnull} eq 1 ">
                    <div class="thumbnail">
                        <div class="caption" >
                        <h3 style="color: red">暂无参赛信息</h3>
                        </div>
                </div>
                </li>
                <li class="span4" th:each="eventSignUp : ${eventSignUpList}" >
                    <div class="thumbnail">
                        <div class="caption" >
                            <h3 th:text="'报名的比赛项目名为：'+${eventSignUp.event.name}"></h3>
                            <h4 th:text="'参赛小队名称为:'+${eventSignUp.name}"></h4>
                            <p th:text="'报名时间为为:'+ ${#dates.format(eventSignUp.signtime, 'yyyy-MM-dd HH:mm:ss')}"></p>
                            <p th:text="'截止提交时间为为:'+ ${#dates.format(eventSignUp.lastsubmittime, 'yyyy-MM-dd HH:mm:ss')}"></p>
                            <p style="text-align: right">
                                <a th:if="${#dates.format(new java.util.Date().getTime(), 'yyyy-MM-dd HH:mm:ss')} le ${#dates.format(eventSignUp.lastsubmittime, 'yyyy-MM-dd HH:mm:ss')}" class="btn btn-primary" th:href="'/group/submit?gid='+ ${eventSignUp.id}" href="#">提交作品</a>
                                <button th:if="${#dates.format(new java.util.Date().getTime(), 'yyyy-MM-dd HH:mm:ss')} ge ${#dates.format(eventSignUp.lastsubmittime, 'yyyy-MM-dd HH:mm:ss')}" type="button" class="btn btn-default disabled btn-danger">提交作品时间已到</button>
                                <a id="modal-102974" href="#modal-container-102974"  th:onclick="'show_achevemtnt('+${eventSignUp.achievement}+')'"  role="button" class="btn btn-info" data-toggle="modal">查询比赛成绩</a>
                                <!--<a id="modal-102974"  href="#modal-container-102974"  role="button" class="btn btn-info" data-toggle="modal">查询比赛成绩</a>-->

                            </p>

                        </div>
                    </div>
                </li>
                <!--  别  -->
                <div class="modal fade" id="modal-container-102974" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close shutdown" data-dismiss="modal" aria-hidden="true">×</button>
                                <h4 class="modal-title" id="myModalLabel">
                                    查看成绩
                                </h4>
                            </div>
                            <div class="modal-body">
                                你的小队成绩为：
                                <h5 id="achievement" >未公布成绩！</h5>
                                <!--<h5 th:if=" ${eventSignUp.achievement} gt 0.00" th:text="${eventSignUp.achievement}+'分！'">未公布成绩！</h5>-->
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default shutdown" data-dismiss="modal" >关闭</button>
                            </div>
                        </div>

                    </div>

                </div>
            </ul>
        </div>
    </div>
</div>
<div class="col-md-12 column" th:if="${isnull} ne 1">
    <ul class="pagination pull-right">
        <li class="disabled" ><a style="background-color: #b2b2b2;color: white" th:text="${page}+'/'+${matchGroupPage.getTotalPages()}+' 页'"></a></li>
        <li class="disabled" th:if="${page} eq '1'" ><a>首页</a></li>
        <li th:if="${page} ne '1'"><a th:href="'/group/list?page=1'+'&&size='+${size}">首页</a></li>
        <li class="disabled" th:if="${page} le '1'"><a>上一页</a></li>
        <li th:if="${page} gt '1'"><a th:href="'/group/list?page='+${page-1}+'&&size='+${size}">上一页</a></li>
        <li th:each="pageNo : ${#numbers.sequence(1, matchGroupPage.getTotalPages())}">
            <a th:if="${pageNo} eq ${page}" style="background-color: #b2b2b2;color: white" th:text="${pageNo}"></a>
            <a th:if="${pageNo} ne ${page} and ${pageNo} le ${page+2} and ${pageNo} ge ${page-2}" th:href="'/group/list?page='+${pageNo}+'&&size='+${size}" th:text="${pageNo}"></a>
        </li>
        <li th:if="${page} lt ${matchGroupPage.getTotalPages()}"><a th:href="'/group/list?page='+${page+1}+'&&size='+${size}">下一页</a></li>
        <li class="disabled" th:if="${page} ge ${matchGroupPage.getTotalPages()}"><a>下一页</a></li>
        <li class="disabled" th:if="${page} eq ${matchGroupPage.getTotalPages()}"><a>尾页</a></li>
        <li th:if="${page} ne ${matchGroupPage.getTotalPages()}"><a th:href="'/group/list?page='+${matchGroupPage.getTotalPages()}+'&&size='+${size}">尾页</a></li>
    </ul>
</div>
<script>
    /*显示成绩*/
    function show_achevemtnt(s){
        if (s==0){
            $('#achievement').text('未公布成绩');
        }else {

            $('#achievement').text(s);
        }
        $('body').attr('class','modal-open');
//        $('#modal-container-102974').modal('show');

        $('#modal-container-102974').show().attr('class','modal fade in');
    }

    $(document).ready(function(){
        $(".shutdown").click(function(){
            $('#modal-container-102974').modal('hide');
        });
    });
</script>
</body>
</html>