<!--_meta 作为公共模版分离出去-->
<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="Bookmark" href="favicon.ico" >
    <link rel="Shortcut Icon" href="favicon.ico" />
    <link href="/bootstrap/css/bootstrap.min.css" th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <
    <title>后台管理</title>
</head>
<body>
<div th:replace="admins/nav::html"></div>

<section class="Hui-article-box">
    <nav class="breadcrumb"><i class="Hui-iconfont"></i> <a href="../../../index.html" class="maincolor">后台管理首页</a>
        <span class="c-999 en">&gt;</span>
        <span class="c-666">比赛列表</span>
    </nav>
    <article class="cl pd-20">
        <div class="searchUser">
            <span class="ml-30">查询条件：</span>
            <span class="select-box" >
                <select class="select" size="1" name="searchLimit">
                    <option value="" selected>比赛名称</option>
                </select>
            </span>
            <form th:action="'/admins/matchslist'" style="display: inline">
                <input type="text" th:value="${keyword}" class="input-text" name="keyword" id="keyword" placeholder="请输入查询关键字...">
                <input class="btn btn-primary radius" type="submit" value="查询">
            </form>
            <a class="btn btn-secondary ml-40 radius" th:href="@{/admins/addmatchs}" href="competition_release.html">添加比赛</a>
        </div>
        <div class="searchResult mt-20">
            <!--头像、邮箱、真实姓名、认证状态、账号名、手机号码-->
            <table class="table table-border table-bg">
                <thead>
                <tr>
                    <th>比赛ID</th>
                    <th>比赛名称</th>
                    <th>比赛开始时间</th>
                    <th>比赛截止报名时间</th>
                    <th>比赛截止提交时间</th>
                    <th>比赛结束时间</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody th:each="matchs:${matchsPage}">
                    <tr th:id="'matchid'+${matchs.id}">
                        <td th:text="${matchs.id}">10001</td>
                        <td th:text="${matchs.name}">全国英语作文比赛</td>
                        <td th:text="${#dates.format(matchs.startTime, 'yyyy-MM-dd HH:mm:ss')}" >2018年8月31日13:23:28</td>
                        <td th:text="${#dates.format(matchs.lastsigntime, 'yyyy-MM-dd HH:mm:ss')}">2018年8月31日13:23:34</td>
                        <td th:text="${#dates.format(matchs.lastsubmittime, 'yyyy-MM-dd HH:mm:ss')}">2018年8月31日13:23:37</td>
                        <td th:text="${#dates.format(matchs.overTime, 'yyyy-MM-dd HH:mm:ss')}">2018年8月31日13:23:37</td>
                        <td>
                            <a th:onclick="'a('+${matchs.id}+')'" data-id="" class="del_compotition">删除</a>
                            <a href="./competition_alter.html?id=" th:href="'/admins/matchsEdit/'+${matchs.id}">修改</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </article>
    <div class="col-md-12 column" th:if="${isnull} ne 1" style="display: inline">
        <ul class="pagination pull-right">
            <li class="disabled" ><a style="background-color: #b2b2b2;color: white" th:text="${page}+'/'+${matchsPage.getTotalPages()}+' 页'"></a></li>
            <li class="disabled" th:if="${page} eq '1'" ><a >首页</a></li>
            <li th:if="${page} ne '1'"><a th:href="'/admins/matchslist?page=1'+'&&size='+${size}+'&&keyword='+${keyword}">首页</a></li>
            <li class="disabled" th:if="${page} le '1'"><a >上一页</a></li>
            <li th:if="${page} gt '1'"><a th:href="'/admins/matchslist?page='+${page-1}+'&&size='+${size}+'&&keyword='+${keyword}">上一页</a></li>
            <li th:each="pageNo : ${#numbers.sequence(1, matchsPage.getTotalPages())}">
                <a th:if="${pageNo} eq ${page}" style="background-color: #b2b2b2;color: white" th:text="${pageNo}"></a>
                <a th:if="${pageNo} ne ${page} and ${pageNo} le ${page+2} and ${pageNo} ge ${page-2}" th:href="'/admins/matchslist?page='+${pageNo}+'&&size='+${size}" th:text="${pageNo}"></a>
            </li>
            <li th:if="${page} lt ${matchsPage.getTotalPages()}"><a th:href="'/admins/matchslist?page='+${page+1}+'&&size='+${size}+'&&keyword='+${keyword}">下一页</a></li>
            <li class="disabled" th:if="${page} ge ${matchsPage.getTotalPages()}"><a >下一页</a></li>
            <li class="disabled" th:if="${page} eq ${matchsPage.getTotalPages()}"><a >尾页</a></li>
            <li th:if="${page} ne ${matchsPage.getTotalPages()}"><a th:href="'/admins/matchslist?page='+${matchsPage.getTotalPages()}+'&&size='+${size}+'&&keyword='+${keyword}">尾页</a></li>
        </ul>
    </div>
</section>
</body>
<script>
    function a(id) {
        if(confirm("你确定要删除吗？删除后将无法恢复！")){
            $.ajax({
                url: "/match/delete",
                type:'POST',
                data:{mid:id},
                success:function () {
                    alert("删除成功!");
                    $('#matchid'+id).remove();
                },
                error:function (result) {
                    alert("删除失败!"+result.message);
                }
            })



        }

    }

</script>
</html>