<html  xmlns="http://www.w3.org/1999/xhtml"
       lang="en"
       xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="../css/friendList.css" th:href="@{/css/friendList.css}"/>
	<script src="../jq/jquery-1.11.0.min.js" th:src="@{/js/jquery-1.11.0.min.js}"></script>
	<script src="../js/friendList.js" th:src="@{/js/friendList.js}"></script>
	<title>朋友列表</title>
</head>
<body>
<div th:replace="top::html"></div>
	<div><h1>请选择需要沟通的朋友</h1></div>
	<br />
	<div class="outsideDiv">
		<span class="innerspan">
            <a href="chat.html?userId=1" th:href="'/user/inchat?userId=1'">
                <img src="../img/611.jpg" class="imgClass">
                <span>kolo</span>
             </a>
        </span>
	</div>
    <div class="outsideDiv">
		<span class="innerspan">
            <a href="chat.html?userId=1" th:href="'/user/inchat?userId=2'">
                <img src="../img/612.jpg" class="imgClass">
                <span>jack</span>
             </a>
        </span>
    </div>
    <div class="outsideDiv">
		<span class="innerspan">
           <a href="chat.html?userId=1" th:href="'/user/inchat?userId=3'">
                <img src="../img/613.jpg" class="imgClass">
                <span>tutu</span>
             </a>
        </span>
    </div>
    <hr>
	<div><h1>未读消息:</h1></div>
    未读消息:<span style="color: red;" id="totalRedDot"></span>条
	<br />
	<div class="outsideDiv" id="showmessage">

    </div>
</body>
</html>
