<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8" />
		<link rel="stylesheet" href="../css/layui.css" th:href="@{/css/layui.css}" />
		<script src="../js/jquery-1.11.0.min.js" th:src="@{/js/jquery-1.11.0.min.js}"></script>
		<script type="text/javascript" src="../js/layui.js" th:src="@{/js/layui.js}"></script>
		<script type="text/javascript" th:src="@{/js/canvas-particle.js}"></script>
        <style>
            body{background-color: #2D2D2D;padding:0;}
        </style>
		<title>创新创业平台</title>
		<style>
			.layui-container{
				margin:100px auto;
			}
		</style>
	</head>
	<body>
		<div class="layui-container" style="overflow: hidden;margin-top:40px" heigth="500px" id="mydiv">
			<!--标题栏-->
			<!--<div class="layui-row" style="margin-top:20px;">-->
				<!--<img th:src="@{/images/iamges/logot.png}" style="width: 80px">-->
				<!--<h1 style="display: inline-block;color:#8f8ca8;font-weight: 700;letter-spacing: 2px">创新创业平台</h1>-->
			<!--</div>-->
			<!--登录-->
			<h1 style="text-align: center;margin-left:275px;margin-top:160px;font-weight: 700;margin-bottom:10px;color:#fff;letter-spacing: 1px">创新创业平台</h1>
			<div style="margin-left:45% ;width: 100%;">
				<div style="background-color:  #fff;width: 380px;padding-top:30px;border-radius: 5px; box-shadow: 0 2px 20px 0 rgba(255,255,255);">
					<form class="layui-form" th:action="@{/login}" method="post" >

						<!--<div class="layui-form-item">-->
						    <!--<h3 style="font-size: 30px;text-align: center; margin-top: 20px;letter-spacing: 4px">登录</h3>-->
					  	<!--</div>-->
						<!--<hr class="layui-bg-blue">-->
						<div class="layui-form-item">
						    <label class="layui-form-label">账号</label>
						    <div class="layui-input-inline">
						      <input type="text" id="uName" name="username" required lay-verify="required" placeholder="请输入账号" autocomplete="off" class="layui-input">
						    </div>
					  	</div>
						<div class="layui-form-item">
						    <label class="layui-form-label">密码</label>
						    <div class="layui-input-inline">
						      <input type="password" id="uPassword" name="password" required lay-verify="required" placeholder="请输入密码" autocomplete="off" class="layui-input">
						    </div>
					  	</div>
						<div class=" col-md-5" th:if="${loginError}">
							<p class="blog-label-error" th:align="center" style="color: red;margin-bottom:10px" th:text="${errorMsg}"></p>
						</div>
						<div class="layui-form-item" >
						    <div class="layui-input-block" style="padding-bottom: 20px">
                                <input type="submit" class="layui-btn" value="立即登录"  id="login">
                                <a href="/register"  class="layui-btn">立即注册</a>
						    </div>
						</div>
					</form>
				</div>
			</div>
		</div>
		<script>
			$(function(){
				//配置
				var config = {
					vx: 4,	//小球x轴速度,正为右，负为左
					vy: 4,	//小球y轴速度
					height: 2,	//小球高宽，其实为正方形，所以不宜太大
					width: 2,
					count: 200,		//点个数
					color: "121, 162, 185", 	//点颜色
					stroke: "130,255,255", 		//线条颜色
					dist: 6000, 	//点吸附距离
					e_dist: 20000, 	//鼠标吸附加速距离
					max_conn: 10 	//点到点最大连接数
				}

				//调用
				CanvasParticle(config);
			})

		</script>
	</body>
</html>
