<html  xmlns="http://www.w3.org/1999/xhtml"
	   lang="en"
	   xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="../css/layui.css" th:href="@{/css/layui.css}" />
		<link rel="stylesheet" href="../css/validate.css" th:href="@{/css/validate.css}"/>
		<script src="../js/jquery-1.11.0.min.js" th:src="@{/js/jquery-1.11.0.min.js}"></script>
		<script type="text/javascript" src="../js/layui.js" th:src="@{/js/layui.js}"></script>
		<script type="text/javascript" src="../js/validate.js" th:src="@{/js/validate.js}"></script>
		<title>验证身份</title>
	</head>

	<body>
	<input type="hidden" th:value="${model.uStyle}" id="uStyle">
		<div class="layui-container">
			<!--标题栏-->
			<div class="layui-row">
				<b style="font-style: italic;font-size: 50px;">创新创业平台</b>
			</div>

			<!--分割线-->
			<hr class="layui-bg-gray">

			<!--进度条-->
			<div class="layui-row">
				<div style="font-family: '宋体';font-size: 30px;">用户身份审核:</div>
				<div style="text-align: center;">
					<span style="color: #FF5722;">----------填写信息----------|</span>
					<span>----------等待管理员审核----------</span>
				</div>
			</div>

			<!--分割线-->
			<hr class="layui-bg-gray">

			<!--填写信息：学生-->
			<div class="layui-row hiddenElement" id="student">
				<form class="layui-form">
					<div class="layui-form-item">
						<label class="layui-form-label">学号</label>
						<div class="layui-input-block">
							<input type="text" id="number" name="number" required lay-verify="required" placeholder="请输入学号" autocomplete="off" class="layui-input">
						</div>
					</div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">真实姓名</label>
                        <div class="layui-input-block">
                            <input type="text" id="name" name="name" required 0lay-verify="required" placeholder="请输入真实姓名" autocomplete="off" class="layui-input">
                        </div>
                    </div>
					<div class="layui-form-item">
						<label class="layui-form-label">学年</label>
						<div class="layui-input-block">
							<input type="text" id="edu" name="edu" required lay-verify="required" placeholder="请输入学年，如2017年" autocomplete="off" class="layui-input">
						</div>
					</div>
					<div class="layui-form-item">
						<label class="layui-form-label">所在学院</label>
						<div class="layui-input-block">
							<input type="text" id="college" name="college" required lay-verify="required" placeholder="请输入所在学院" autocomplete="off" class="layui-input">
						</div>
					</div>
					<div class="layui-form-item">
						<label class="layui-form-label">专业</label>
						<div class="layui-input-block">
							<input type="text" id="classes" name="classes" required lay-verify="required" placeholder="请输入专业" autocomplete="off" class="layui-input">
						</div>
					</div>
					<div class="layui-form-item">
						<label class="layui-form-label">民族</label>
						<div class="layui-input-block">
							<input type="text" id="nation" name="nation" required lay-verify="required" placeholder="请输入民族" autocomplete="off" class="layui-input">
						</div>
					</div>
					<div class="layui-form-item">
						<label class="layui-form-label">政治面貌</label>
						<div class="layui-input-block">
							<input type="text" id="politicsstatus" name="politicsstatus" required lay-verify="required" placeholder="请输入政治面貌" autocomplete="off" class="layui-input">
						</div>
					</div>
					<div class="layui-form-item">
						<label class="layui-form-label">个人简介</label>
						<div class="layui-input-block">
							<input type="text" id="credential" name="credential" required lay-verify="required" placeholder="请输入个人简介" autocomplete="off" class="layui-input">
						</div>
					</div>

					<div class="layui-form-item">
						<div class="layui-input-block">
							<div class="layui-btn" id="studentSubmit">立即提交</div>
							<button type="reset" class="layui-btn layui-btn-primary">重置</button>
						</div>
					</div>
				</form>
			</div>

			<!--填写信息：老师-->
			<div class="layui-row hiddenElement" id="teacher">
				<form class="layui-form">
					<div class="layui-form-item">
						<label class="layui-form-label">教师工号</label>
						<div class="layui-input-block">
							<input type="text" id="Tnumber" name="number" required lay-verify="required" placeholder="请输入教师工号" autocomplete="off" class="layui-input">
						</div>
					</div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">真实姓名</label>
                        <div class="layui-input-block">
                            <input type="text" id="Tname" name="name" required lay-verify="required" placeholder="请输入真实姓名" autocomplete="off" class="layui-input">
                        </div>
                    </div>
					<div class="layui-form-item">
						<label class="layui-form-label">在职学校</label>
						<div class="layui-input-block">
							<input type="text" id="Tschool"  name="school" required lay-verify="required" placeholder="请输入在职学校" autocomplete="off" class="layui-input">
						</div>
					</div>
					<div class="layui-form-item">
						<label class="layui-form-label">所在学院</label>
						<div class="layui-input-block">
							<input type="text"  id="Tcollege" name="college" required lay-verify="required" placeholder="请输入所在学院" autocomplete="off" class="layui-input">
						</div>
					</div>
					<div class="layui-form-item">
						<label class="layui-form-label">专业领域</label>
						<div class="layui-input-block">
							<input type="text" id="Tspecially"  name="specially" required lay-verify="required" placeholder="请输入专业领域" autocomplete="off" class="layui-input">
						</div>
					</div>
					<div class="layui-form-item">
						<label class="layui-form-label">职位</label>
						<div class="layui-input-block">
							<input type="text" id="Tposition" name="position" required lay-verify="required" placeholder="请输入职位" autocomplete="off" class="layui-input">
						</div>
					</div>
					<div class="layui-form-item">
						<label class="layui-form-label">民族</label>
						<div class="layui-input-block">
							<input type="text" id="Tnation" name="nation" required lay-verify="required" placeholder="请输入民族" autocomplete="off" class="layui-input">
						</div>
					</div>
					<div class="layui-form-item">
						<label class="layui-form-label">政治面貌</label>
						<div class="layui-input-block">
							<input type="text" id="Tpoliticsstatus" name="politicsstatus" required lay-verify="required" placeholder="请输入政治面貌" autocomplete="off" class="layui-input">
						</div>
					</div>
					<div class="layui-form-item">
						<label class="layui-form-label">个人简介</label>
						<div class="layui-input-block">
							<input type="text" id="Tcredential" name="credential" required lay-verify="required" placeholder="请输入个人简介" autocomplete="off" class="layui-input">
						</div>
					</div>

					<div class="layui-form-item">
						<div class="layui-input-block">
							<div class="layui-btn" id="teacherSubmit">立即提交</div>
							<button type="reset" class="layui-btn layui-btn-primary">重置</button>
						</div>
					</div>
				</form>
			</div>

			<!--填写信息：企业-->
			<div class="layui-row hiddenElement" id="company">
				<div class="layui-form">
					<div class="layui-form-item">
						<label class="layui-form-label">公司名称</label>
						<div class="layui-input-block">
							<input type="text" id="companyName" name="name" required lay-verify="required" placeholder="请输入公司名称" autocomplete="off" class="layui-input">
						</div>
					</div>
					<div class="layui-form-item">
						<label class="layui-form-label">企业社会代码</label>
						<div class="layui-input-block">
							<input type="text" id="Cnumber" name="number" required lay-verify="required" placeholder="请输入企业社会代码" autocomplete="off" class="layui-input">
						</div>
					</div>
					<div class="layui-form-item">
						<label class="layui-form-label">企业法定代表人</label>
						<div class="layui-input-block">
							<input type="text" id="Cboss" name="boss" required lay-verify="required" placeholder="请输入企业法定代表人" autocomplete="off" class="layui-input">
						</div>
					</div>
					<div class="layui-form-item">
						<label class="layui-form-label">公司类型</label>
						<div class="layui-input-block">
							<input type="text"  id="Ctype" name="type" required lay-verify="required" placeholder="请输入公司类型" autocomplete="off" class="layui-input">
						</div>
					</div>
					<div class="layui-form-item">
						<label class="layui-form-label">联系人</label>
						<div class="layui-input-block">
							<input type="text" id="Ccontacts" name="contacts" required lay-verify="required" placeholder="请输入联系人" autocomplete="off" class="layui-input">
						</div>
					</div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">真实姓名</label>
                        <div class="layui-input-block">
                            <input type="text" id="Cname" name="name" required lay-verify="required" placeholder="请输入真实姓名" autocomplete="off" class="layui-input">
                        </div>
                    </div>
					<div class="layui-form-item">
						<label class="layui-form-label">联系电话</label>
						<div class="layui-input-block">
							<input type="text" id="Cphone" name="phone" required lay-verify="required" placeholder="请输入联系电话" autocomplete="off" class="layui-input">
						</div>
					</div>
					<div class="layui-form-item">
						<label class="layui-form-label">营业执照</label>
						<div class="layui-input-block">
                            <form id="imageUpload"  method="post" enctype="multipart/form-data">
							    <input  type="file" id="file" name="file"  autocomplete="off" class="layui-input">
                                <span class="hiddenElement" id="imageShow"><img style="width: 200px;height: 200px;" src="" id="spanImg"></span>
                            </form>
						</div>
					</div>
					<div class="layui-form-item">
						<div class="layui-input-block">
							<div class="layui-btn" id="companySubmit">立即提交</div>
							<button type="reset" class="layui-btn layui-btn-primary">重置</button>
						</div>
					</div>
				</div>
			</div>

			<!--填写信息：管理员-->
			<div class="layui-row hiddenElement" id="admin">
				<div class="layui-form">
					<div class="layui-form-item">
						<label class="layui-form-label">真实姓名</label>
						<div class="layui-input-block">
							<input type="text" id="Aname" name="name" required lay-verify="required" placeholder="真实姓名" autocomplete="off" class="layui-input">
						</div>
					</div>
				</div>
                <div class="layui-form-item">
						<div class="layui-input-block">
							<div class="layui-btn" id="adminSubmit">立即提交</div>
							<button type="reset" class="layui-btn layui-btn-primary">重置</button>
						</div>
					</div>
            </div>
			<!--底部-->
			<div id="">

			</div>
		</div>
	</body>

	</body>

</html>