<html  xmlns="http://www.w3.org/1999/xhtml"
	   lang="en"
	   xmlns:th="http://www.thymeleaf.org">

	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="../css/layui.css" th:href="@{/css/layui.css}" />
		<script src="../js/jquery-1.11.0.min.js" th:src="@{/js/jquery-1.11.0.min.js}"></script>
		<script type="text/javascript" src="../js/layui.js" th:src="@{/js/layui.js}"></script>
		<title>验证身份</title>
	</head>

	<body>
		<div class="layui-container">
			<!--标题栏-->
			<div class="layui-row">
				<b style="font-style: italic;font-size: 50px;">创新创业平台</b>
			</div>

			<!--分割线-->
			<hr class="layui-bg-gray">

			<!--进度条-->
			<div class="layui-row">
				<div style="font-family: '宋体';font-size: 30px;">用户身份审核:</div>
				<div style="text-align: center;">
					<span>----------填写信息----------|</span>
					<span style="color: #FF5722;">----------等待管理员审核----------</span>
				</div>
			</div>

			<!--分割线-->
			<hr class="layui-bg-gray">

			<blockquote class="layui-elem-quote" style="font-size: 20px;">【审核中】管理员正在抓紧时间审核你的信息，一般审核时间为1个工作日，请耐心等待!谢谢。</blockquote>
			
			<!--底部-->
			<div id="">

			</div>
		</div>
	</body>

	</body>

</html>