<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!-- 嵌入导航栏 -->
<div th:replace="admins/nav::html"></div>

<section class="Hui-article-box">
    <nav class="breadcrumb"><i class="Hui-iconfont"></i> <a href="/admins/checkUserList" class="maincolor">后台管理首页</a>
        <span class="c-999 en">&gt;</span>
        <span class="c-666">资讯管理</span>
    </nav>
<div class="page-container">
    <div align="center">
        <form class="text-c" th:action="@{/admins/toInformationList}" style="display: inline">
            <input type="text" class="input-text" style="width:250px" placeholder="输入标题" id="keyword" name="keyword">
            <button type="submit" class="btn btn-success radius" id="" name=""><i class="Hui-iconfont">&#xe665;</i> 搜资讯</button>
        </form>
    </div>
    <a class="btn btn-primary radius" th:href="@{/admins/informationAdd}"><i class="Hui-iconfont"></i> 添加资讯</a>
    <div class="mt-20">
        <table class="table table-border table-bordered table-hover table-bg table-sort">
            <thead>
            <tr class="text-c">
                <th width="80">序号</th>
                <th width="200">标题</th>
                <th width="100">所属分类</th>
                <th width="150">创建时间</th>
                <th width="150">小编名字</th>
                <th width="150">操作</th>
            </tr>
            </thead>
            <tbody>
            <tr class="text-c" th:each="information:${informationList}">
                <td th:text="${information.id}">1</td>
                <td ><a th:href="@{/information/ShowInformationAdmins?id=}+${information.id}" th:text="${information.title}"></a></td>
                <td th:text="${information.informationCategory.name}">13000000000</td>
                <td th:text="${#dates.format(information.createTime, 'yyyy-MM-dd')}">2014-6-11</td>
                <td th:text="${information.author}">发哥</td>
                <td class="td-manage">
                    <a title="编辑" th:href="@{/admins/informationUpdate?id=}+${information.id}" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6df;</i></a>
                    <a title="删除" href="javascript:;" th:onclick="'member_del(this,'+${information.id}+')'" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6e2;</i></a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</section>
<script type="text/javascript" src="lib/My97DatePicker/4.8/WdatePicker.js" th:src="@{/js/WdatePicker.js}"></script>
<script type="text/javascript" src="lib/datatables/1.10.0/jquery.dataTables.min.js" th:src="@{/js/jquery.dataTables.min.js}"></script>
<script type="text/javascript" src="lib/laypage/1.2/laypage.js" th:src="@{/js/laypage.js}"></script>
<script type="text/javascript">
    $(function(){
        $('.table-sort').dataTable({
            "aaSorting": [[ 3, "asc" ]],//默认第几个排序
            "bStateSave": true,//状态保存
            "aoColumnDefs": [
                //{"bVisible": false, "aTargets": [ 3 ]} //控制列的隐藏显示
                {"orderable":false,"aTargets":[5]}// 制定列不参与排序
            ]
        });

    });

    /*用户-删除*/
    function member_del(obj,id){
        layer.confirm('确认要删除吗？',function(index){
            $.ajax({
                type: 'POST',
                url: '/information/delete',
                data:{id:id},
                dataType: 'json',
                success: function(data){
                    $(obj).parents("tr").remove();
                    layer.msg('已删除!',{icon:1,time:1000});
                },
                error:function(data) {
                    console.log(data.msg);
                },
            });
        });
    }
</script>
</body>
</html>