<!--_meta 作为公共模版分离出去-->
<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="Bookmark" href="favicon.ico" >
    <link rel="Shortcut Icon" href="favicon.ico" />
    <script th:src="@{/js/jquery-1.11.0.min.js}"></script>
    <script th:src="@{/js/teacherValidate.js}"></script>
    <link rel="stylesheet" href="../css/layui.css" th:href="@{/css/layui.css}" />
    <script type="text/javascript" src="../js/layui.js" th:src="@{/js/layui.js}"></script>
    <title>后台管理-教师认证</title>
</head>
<body>
<!-- 嵌入导航栏 -->
<div th:replace="admins/nav::html"></div>

<section class="Hui-article-box">
    <nav class="breadcrumb"><i class="Hui-iconfont"></i> <a href="../../index.html" th:href="@{/admin}" class="maincolor">用户认证</a>
        <span class="c-999 en">&gt;</span>
        <span class="c-666">教师认证</span>
    </nav>
    <article class="cl pd-20">

         <!--老师信息展示-->
        <div id="content">

        </div>
        <!--分页-->
        <div id="demo2"></div>


    </article>
</section>

</body>
</html>