<!--_meta 作为公共模版分离出去-->
<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="Bookmark" href="favicon.ico" >
    <link rel="Shortcut Icon" href="favicon.ico" />
    <script th:src="@{/js/jquery-1.11.0.min.js}"></script>
    <script th:src="@{/js/teacherManage.js}"></script>
    <link rel="stylesheet" href="../css/layui.css" th:href="@{/css/layui.css}" />
    <script type="text/javascript" src="../js/layui.js" th:src="@{/js/layui.js}"></script>
    <title>后台管理</title>
</head>
<body>
<!-- 嵌入导航栏 -->
<div th:replace="admins/nav::html"></div>

<section class="Hui-article-box">
    <nav class="breadcrumb"><i class="Hui-iconfont"></i> <a href="../../../index.html" th:href="@{/admin}" class="maincolor">后台管理首页</a>
        <span class="c-999 en">&gt;</span>
        <span class="c-666">教师管理</span>
    </nav>
    <article class="cl pd-20">

        <!--企业信息展示-->
        <div>
            <div class="searchUser">
                <span class="ml-30">查询条件：</span>
                <span class="select-box">
                    <select class="select" size="1" name="searchLimit">
                        <option value="1" selected>真实姓名</option>
                        <option value="2">手机号码</option>
                        <option value="3">账号</option>
                    </select>
                </span>
                <input type="text" class="input-text" id="keywork" placeholder="请输入查询关键字...">
                <input class="btn btn-primary radius" id="findId" type="button" value="查询">
            </div>
            <div class="searchResult mt-20">
                <table class="table table-border table-bg">
                    <thead>
                        <tr>
                            <th>教师姓名</th>
                            <th>头像</th>
                            <th>教师工号</th>
                            <th>手机号码</th>
                            <th>在职学校</th>
                            <th>所在学院</th>
                            <th>认证状态</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody id="content">

                    </tbody>
                </table>
            </div>
        </div>

        <!--分页-->
        <div id="demo2"></div>

    </article>
</section>

</body>
</html>